body {
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
  user-select: none;
}
.container {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  background-color: rgb(196, 140, 140);
}
.wrapper {
  display: flex;
  align-items: start;
  position: absolute;
  width: 100px;
}
.point {
  font-size: 18px;
  padding: 4px;
  width: 100%;
  background-color: inherit;
  border: 1px solid rgb(85, 60, 60);
  border-radius: 10px;
  text-align: center;
}
.btn {
  font-size: 20px;
  padding: 0;
  margin-left: 2px;
  border: none;
  background: initial;
}
